body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.btn {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: slide 2s forwards ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container div{
  border: 1px solid black;
  padding: 2rem;
  cursor: pointer;
  width: 100px;
  height: 100px;
}


@keyframes slide {
  0%{
    transform: translate(-50%, -50%);
  }
  100%{
    transform: translate(-50%, 150vh);
  }
}

.faqContainer {
  display: flex;
  width: 500px;
  margin: 0px auto;
  flex-direction: column;
  gap: 5px;
}
.faqContainer div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0;
  padding: 0;
  justify-content: start;
  align-items: start;
  border: 1px solid gray;
}

.faqQuestion {
  padding: 0;
  margin: 0;
  width: 100%;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faqAnswer.open {
  max-height: 500px;
}

